@import "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;

  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin blueGlassbackground() {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: rgba(13, 77, 129, 0.753);
  box-shadow: -5px 4px 4px 4px #7779793a;
  border-radius: 3px;
  color: rgb(211, 233, 243);
}

#container {
  display: grid;
  grid-template-columns: 20vw 77vw;
  grid-template-areas: "sidebar main";
  margin: 5px 10px 20px 20px;
  @media only screen and (max-width: 1000px) {
    grid-template-columns: 30vw 65vw;
  }
}

#main {
  grid-area: main;
}

#sidebar {
  grid-area: sidebar;
  @include blueGlassbackground();
  align-items: flex-start;
  padding: 20px;
  h1 {
    font-size: 2em;
  }
  ul {
    border-top: 2px dotted rgb(21, 49, 80);
    padding-top: 10px;
  }
  li {
    width: 15vmax;
    margin: 10px;
    padding: 8px;
    list-style: none;
    font-size: 1.3em;
    background: rgba(1, 35, 63, 0.425);
    border-radius: 5px;
    box-shadow: -5px 1px 0px 1px rgba(1, 28, 63, 0.24);
  }
}

#new-message {
  @include blueGlassbackground();
  margin-left: 20px;
  height: 100px;

  button {
    padding: 8px;
    width: 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: $textCloudColor;
    font-family: "Press Start 2P";
    color: $textColorDark;
  }
  textarea {
    padding: 5px;
    margin: 5px;
    width: 90%;
    height: 90%;
    border: 1px $textCloudColor solid;
    border-radius: 5px;
  }
}

#messages-list {
  padding: 5px 0 0 5px;
  margin: 0 20px 20px 20px;
  height: 85vh;

  overflow-y: scroll;
  @include blueGlassbackground();
  align-items: flex-start;
  background: rgba(248, 247, 244, 0.747);
  box-shadow: -5px 4px 4px 4px #babeba63;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  letter-spacing: 2px;
  color: $textColorDark;
  ul {
    width: 100%;
  }
}

#message {
  margin: 5px;
  padding: 6px;
}

.inner-message {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  background: $textCloudColor;
  text-align: left;
  max-width: 60%;
}
