@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Press Start 2P";
  background: rgb(184, 231, 253);
}
#container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "sidebar main";
  width: 100vw;
  height: 100vh;
}
#main {
  grid-area: main;
}
#new-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  margin-left: 0px;
  border-top: 1px solid #969696;
  display: flex;
  flex-direction: column;
  background: rgb(184, 231, 253);
  height: 15vh;
}

#new-message button {
  padding: 8px;
  margin: 5px;
  width: 80px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: gold;
  font-family: "Press Start 2P";
}

#new-message textarea {
  padding: 5px;
  margin: 5px;
  width: 60%;
  border: 1px gold solid;
  border-radius: 5px;
}

#messages-list {
  padding: 5px 0 0 5px;
  height: 85vh;
}

#message {
  background-color: gold;
  padding: 10px;
  margin: 5px;
  display: table;
  border-radius: 10px;
}

#sidebar {
  grid-area: sidebar;
  padding: 5px 0 0 5px;
  border-right: 1px solid #969696;
  height: 100%;
}

#sidebar h1 {
  margin: 20px 10px;
}
#sidebar li {
  margin: 10px 0;
  list-style: none;
}

#sidebar ul {
  position: fixed;
}
